# SPDX-License-Identifier: AGPL-3.0-only
# Copyright (C) 2020 Sean Anderson <seanga2@gmail.com>

# Python bits
build/
dist/
__pycache__/
*.egg-info/
.eggs/
*.pyc
*.pye
.hypothesis

# Editor stuff
tags

# Some local files of mine
*.7z
logs/*
*.xcf
*.ods*

# SQLite databases
*.db*
*.sqlite3

# Build artifacts
*.pkg.tar*
*.deb
