/* Global variables for changing colours across the site */
:root {
	--heading: #f3a957;
	--main: #000;
	--lowlight: #fff2b3;
	--highlight: #f9d483;
	--border: #aaa;
	--bg: #fffcf7;
	--darkbg: #eee;
	--link: #3F56AD;
	--visited: #3e3c2a;
	--red: #A75D50;
	--blue: #5B818F;
	--lighttext: #fff;
}

body {
	background: var(--bg);
	color: var(--main);
	font-family: sans-serif;
	display: block;
	text-align: left;
}

div.content {
	margin: 0 5%;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:visited {
	color: var(--visited);
}

a:hover, a:focus {
	text-decoration: underline;
}

ul.nav {
	list-style-type: none;
	background-color: var(--heading);
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li.nav {
	float: left;
}

li.nav a {
	display: block;
	color: var(--main);
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

ul.nav li.nav a:hover:not(.active){
	background-color: var(--highlight);
}

.active {
	background-color: var(--highlight);
}

table {
	padding: 0.4em;
	white-space: nowrap;
	border-collapse: collapse;
}

thead {
	position: sticky;
	top: 0;
}

tbody:not(.hier) tr:nth-child(odd) {
	background-color: var(--darkbg);
}

th, td {
	padding: 2px 4px;
}

th {
	background-color: var(--heading);
}

td {
	text-align: right;
}

td.left {
	text-align: left;
}

.classicon {
	width: 1em;
	height: 1em;
}

.box {
	display: flex;
}

.float {
	float: left;
	padding: 5px;
}

.avatar {
	display: flex;
	align-items: center;
}

.avatar > img {
	height: 100px;
	width: 100px;
	margin-right: 10px;
}

.row {
	display: flex;
	align-items: center;
}

.row > * {
	padding: 3px;
	margin: 0;
}

a.sort {
	color: var(--link);
}

.logo {
	height: 48px;
	width: 48px;
}

.avatar_small {
	height: 1em;
	width: 1em;
}

.hider {
	cursor: pointer;
}

.hider:hover {
	background-color: var(--darkbg);
}

.hidden {
	display: none;
}

.red {
	background-color: var(--red);
	color: var(--lighttext);
}

.blue {
	background-color: var(--blue);
	color: var(--lighttext);
}
